@charset "utf-8";
/* @import url("facebooksub01.css"); */
* {margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li{list-style:none;}
  a{text-decoration:none;
  display:block;
  color:#333;}
  
  .leftmenu{
    max-width:300px;
    /* padding-left:300px; */
    width:100%;
    height:450px;
    color:#fff;
    /* background-color: red; */
    /* text-align:center; */
    float:left;
    
  }
  .leftmenu .notice{
    width:500px;
    /* height:400px; */
    /* background-color: #F8F8FB;  */
    position:relative;
    /* left:500px; */
    top:-31px;
    display:none;
    z-index:2;
    margin-left:300px;
    
    /* background-color: yellowgreen; */
  }
  .leftmenu .notice ul li{
    margin-left:20px;

  }
  .leftmenu .notice ul li a span{
    /* margin-top:10px; */
    /* background-color: tomato; */
    margin-left:-10px;
    /* margin-bottom:5px; */
    font-weight:bold;
    /* line-height:25px; */
  }
  .leftmenu .notice a{
    color:#626262;
    height:60px;
    float:left;
    /* line-height:25px; */
  }
  .leftmenu .notice nav{
    position:absolute;
    /* left:300px; */
    /* height:100px; */
    float:left;
    background-color: #fff;
    
  }
  .leftmenu .notice p{
    color:#fff;
    background-color: royalblue;
    text-align:right;
    padding:5px;
    width:430px;
    float:left;
    font-weight:bold;
    z-index:9;
  }
  .leftmenu .notice p:first-of-type{
    text-align:left;
    width:65px;
  }
  .leftmenu:after{
    content:'';
    display:block;
    clear:both;
  }
  .leftmenu img{/* 프로필사진 */
    max-width:200px;
    width:100%;
    border-radius:50%;
    border:3px solid #fff;
    float:right;
    width:200px;
    height:200px;
    margin:30px 20px 0px 30px;
    background-color: coral;
  }
  .leftmenu span{
    width:100%;
    max-width:400px;
    margin-top:10px;
    /* background-color: cornflowerblue; */
    float:left;
   margin-left:-70px;
  }
  .leftmenu .box{/* 로고와 프로필 */
    font-size:20px;
    color:#fff;
    text-align:right;
    max-width:500px;/* 1920-1440=/240px */
    width:100%;
    max-height:360px;
    height:100%;
    /* margin-left:50px; */
    margin:0 auto;
    background-color: #3f6cde;
  }
  .leftmenu .box p a{/* 로고 */
    max-width:400px;
    width:100%;
    height:80px;
    /* line-height:120px; */
    font-size:40px;
    /* float:left; */
    color:#fff;
    float:right;
    
    margin-top:5px;
    margin-right:30px;
    /* margin-right:30px; */
    /* background-color: coral; */
  }
  /* ----------------프로필----------------- */
  .leftmenu .iconmenu{
    padding-left:25px;
    width:100%;
    max-width:500px;
    max-height:450px;
    height:100%;
    padding-top:20px;
    text-align:center;
    background-color: #f8f8fb;
    margin:0 auto;
    /* background-color: yellow; */
  }
  .leftmenu .menu01 ul li i{/*  좌측메뉴 아이콘 */
    font-size:20px;
    max-width:100px;
    width:100%;
    max-height:50px;
    height:100%;
    line-height:50px;
  }
  
  .leftmenu .menu01 ul li:hover,.leftmenu .menu02 ul li:hover{
    background-color: #3f6cde;
    color:#fff;
  }
  .leftmenu .menu02 ul li i{/*  좌측메뉴 아이콘 */
    font-size:20px;
    max-width:100px;
    width:100%;
    max-height:50px;
    height:100%;
    line-height:50px;
    /* background-color: tomato; */
  }
  .leftmenu .menu01 ul li {/* 좌측메뉴 제목 */
    max-width:100px;
    width:100%;
    max-height:100px;
    height:100%;
    /* background-color: royalblue; */
    color:#3f6cde;
    line-height:35px;
    font-size:16px;
    border-radius:20%;
    margin-top:20px;
  }
  .leftmenu .menu01 ul li a{/* 좌측메뉴 제목 */
    max-width:100px;
    width:100%;
    max-height:100px;
    height:100%;
    /* background-color: royalblue; */
    color:#3f6cde;
    line-height:35px;
    font-size:16px;
    border-radius:20%;
    margin-top:20px;
    
  }
  .leftmenu .menu01 ul li a:hover{
    color:#fff;
    background-color: #3f6cde;
  }
  .iconmenu .menu01 ul li i{
    font-size:25px;
  }
  
  .iconmenu .menu02 ul li i{
    font-size:25px;
  }
  .iconmenu .menu02 ul li:first-of-type{
    display:none;
  }
  /* .iconmenu .menu02 ul li:nth-of-type(2){
    
  } */
  .leftmenu .menu02 ul li {/* 좌측메뉴 제목 */
    max-width:100px;
    width:100%;
    max-height:100px;
    height:100%;
    margin-top:20px;
    /* background-color: royalblue; */
    color:#3f6cde;
    line-height:35px;
    font-size:16px;
    border-radius:20%;
    
  }
  .leftmenu .menu01{
    float:left;
    max-width:100px;
    width:100%;
    margin-left:40px;
    height:450px;
    
    /* background-color: salmon; */
  }
  .leftmenu .menu02{
    float:left;
    margin-left:20px;
    max-width:100px;
    width:100%;
    height:450px;
    
    /* background-color: salmon; */
  }
  /* ---------------------------좌측메뉴 */
  .section{
    /* max-width:3000px; */
    width:100%;
    height:100%;
    max-height:80px;
    background-color: #3f6cde;
    margin:0 auto;
    
  }
  .section:after{
    display:block;
    clear:both;
    content:'';
  }
  .menu{
    width:100%;
    max-width:1440px;
    margin:0 auto;
    position:relative;
    height:80px;
    
  }
  .menu .menu2{
    /* float:left; */
    text-align:center;
    height:80px;
    /* width:1440px; */
    /* max-width:1920px;
    width:100%; */
    /* background-color: yellow; */
  }
  .menu .menu2 ul{
    /* background-color: yellow; */
    height:80px;
  }
  .bar{
    width:100px;/* ------------------------------ */
    height:5px;
    background-color: #fff;
    position:absolute;
    left:19%;
    top:70px;
    margin-left:55px;
    
  }
  .section .menu .menu2 ul:after{
    content:'';
    clear:both;
    display:block;
  }
  .section .menu .menu2 ul li{
    width:150px;
    
    height:80px;
    
    /* line-height:80px; */
    padding-top:20px;
    float:left;
    margin-left:30px;
    margin-right:30px;
    font-size:20px;
    color:#fff;
  }
  .section .menu .menu2 ul li:nth-of-type(3){
    width:150px;
    padding-top:20px;
    /* line-height:30px; */
    
  }
  input[type="submit"]{
    display:none;
  }
  
  /* input[type="search"]{
    width:100%;
    height:40px;
    border:1px solid #fff;
    padding:0 10px;
  }
  input[type="search"]:focus{
    border:1px solid transparent;
    outline:3px solid #fff;
    
  } */
  .section .menu .menu2 ul li:nth-of-type(5){
   /* margin-right:130px; */
   margin-top:-10px;
   
   /* background-color: sandybrown; */
  }
  .menu3{
    max-width:500px;
    width:100%;
    float:left;
    background-color: #fff;
    margin-left:100px;
    margin-top:100px;
  }
  .menu3:after{
    clear:both;
    display:block;
    content:'';
  }
  .menu3 ul li{
    max-width:400px;
    width:100%;
    max-height:80px;
    height:100%;
    line-height:15px;
    /* display:inline-block; */
    border-bottom:1px solid #333;
    float:left;
    
  }
  /* .menu3 ul li:hover{
    background-color: royalblue;
    color:#fff;
  } */
  .menu3 ul img{
    max-width:50px;
    width:100%;
    max-height:50px;
    height:100%;
    float:right;
    border-radius:50%;
  }
  .menu3 ul li a{
    color:#1c5cad;
    /* margin-left:40px; */
    /* margin-top:20px; */
    float:left;
    font-size:12px;
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
  }
  
  .menu3 ul li a p{
    font-size:16px;
    color:#1c5cad;
  }
  .menu3 ul li a span{
    color:#1c5cad;
  }
  /* .menu3 ul li:hover{
    background-color: #3f6cde;
    color:#fff;
  } */
  /* .menu3 ul li p:hover{   
    color:#fff;
  }
  .menu3 ul li span:hover{
    color:#fff;
  } */
 
  .section .menu04{
    position:relative;
    
  }
  .section .menu04 p img{
    width:800px;
    height:400px;
    position:absolute;
    margin:20px;
    top:-80px;
    left:-15%;
    display:none;
    z-index:1;
    
  }
  /* ----------------------------------- 좌측메뉴 */
  .menu5{
    max-width:1000px;
    width:100%;
    position:relative;
    /* height:500px; */
  }
  .menu6{/* 슬릭슬라이더 */
    max-width:802px;
    width:100%;
    text-align:center;
    position:absolute;
    top:430px;
    left:30%;
    padding-bottom:10px;
    background-color: #F8F8FB;
    
  }
  .menu6:after{
    clear:both;
    content:'';
    display:block;
  }
  .menu6 div{
    width:800px;
    /* width:100%; */
    height:230px;
    float:left;
    /* display:inline-block; */
    /* background-color: salmon; */
    padding-left:60px;
    padding-right:20px;
  }
  .menu6 p:first-of-type{
    margin-top:20px;
    margin-right:5px;
    margin-left:5px;
    margin-bottom:5px;
    font-size:18px;
    font-weight:bold;
    color:#333;
  }
  .menu6 p:nth-of-type(2){
    font-size:14px;
    color:#626262;
  }
  .menu5 .menu6 img{
    width:150px;
    height:100px;
   /* float:left; */
  }
  .menu5 .menu6 span{
    
    height:50px;
    background-color: #F8F8FB;
  }
  /* .menu5 .menu6 span a:hover{
    
    /* width:150px; */
    
    
    
  /* ------------------------------------------- */
  .slick-slide{
    margin-top:30px;
    margin-right:30px;
    margin-left:30px;
    
    
}
.slick-slide img{
    width:200px;
    height:150px;
    
}
.slick-prev{
    left:10px;
    z-index:9;
}
.slick-prev:before{
    /* font-family:'Font Awesome 5 Free'; */
    font-weight:bold;
    content:'\f104';
    opacity:1;
    color:royalblue;
    
}
.slick-next{
    right:10px;
    z-index:9;
    
}
.slick-next:before{
    /* font-family:'Font Awesome 5 Free'; */
    font-weight:bold;
    content:'\f105';
    opacity:1;
    color:royalblue;
}
.slick-dots li{
    width:60px;
    height:5px;
    margin:0;
}
.slick-dots li button{
    width:60px;
    height:5px;
    padding:0;
    background-color:#eee;
}
.slick-dots li button:before{
    display:none;
}
.slick-dots .slick-active button{
    background-color: royalblue;
}
/* ---------------------------------- */
.section .menu7{
  max-width:750px;
  height:170px;
  float:left;
  /* background-color: chartreuse; */
  display:none;
  position:relative;
  left:-31.5%;
  top:-40px;
}
.section .menu7 .menu8{
  width:720px;
  height:180px;
  float:left;
  /* border:1px solid #626262; */
  background-color: #F8F8FB;
  position:absolute;
  top:500px;
  /* left:20px; */
  z-index:1;
}

.section .menu7 .menu8:after{
  clear:both;
  content:'';
  display:block;
}
.section .menu7 .menu8 ul{
  max-width:720px;
  width:100%;
  height:35px;
  line-height:35px;
  /* padding-bottom:10px; */
  font-size:18px;
  /* padding:5px; */
  padding-left:10px;
  /* border-bottom:1px solid #626262; */
  background-color: royalblue;
  float:left;
  padding-top: 3px;
  
}
.section .menu7 .menu8 ul li{
  float:left;
  max-width:25px;
  width:100%;
  max-height:25px;
  height:100%;
  margin-right:20px;
  line-height:30px;
}
.section .menu7 .menu8 ul i{
  color:#fff;
}
.section .menu7 .menu8 ul li:first-of-type{
  max-width:120px;
  width:100%;
  max-height:25px;
  height:100%;
  line-height:25px;
  float:left;
  /* background-color: salmon; */
  color:#fff;
  font-weight:bold;
  
}
.section .menu7 .menu8 ul li:nth-of-type(2){
  /* background-color: yellowgreen; */
  float:right;
  margin-right:0px;
}
.section .menu7 .menu8 ul li:nth-of-type(3){
  
  float:right;
  margin-right:10px;
  
}
.section .menu7 .menu8 ul li:nth-of-type(4){
 
  float:right;
  margin-right:10px;
}
.section .menu7 .menu8 img{
  max-width:90px;
  width:100%;
  max-height:90px;
  height:100%;
  margin-top:10px;
  /* margin-bottom:10px; */
  margin-right:25px;
  margin-left:25px;
  border-radius: 50%;
  float:left;
}
.section .menu7 .menu8 img:nth-of-type(4){
  margin-right:0;
  /* margin:50px; */
}
.section .menu7 .menu8 span i{
  max-width:100px;
  width:100%;
  max-height:100px;
  height:100%;
  line-height:100px;
  padding-top:10px;
  /* background-color: sandybrown; */
  text-align:center;
  margin-left:30px;
  float:left;
}
.section .menu7 .menu8 p{
  /* float:left; */
  width:80px;
  height:20px;
  /* text-align:center; */
  display:inline-block;
  /* background-color: slateblue; */
  margin-top:10px;
  margin-left:50px;
  
}

.section .menu7 .menu8 p:hover{
  color:rgb(15, 20, 34);
  border-bottom:1px solid royalblue;
}
.section .menu7 .menu8 p:first-of-type{
  float:left;
  margin-left:30px;
  
}
.section .menu7 .menu8 p:nth-of-type(2){
  margin-left:60px;
}
.section .menu7 .menu8 p:nth-of-type(3){
  margin-left:60px;
}
.section .menu7 .menu8 p:nth-of-type(4){
  margin-left:55px;
}

.event{
  width:100%;
  max-width:550px;
  position:relative;
  z-index:3;
  display:none;
  /* border:1px solid #626262; */
}
.event .FBE {
  position: absolute;
  z-index:3;
  left:650px;
  top:50px;
  max-width:750px;
  width:100%;
  max-height:750px;
  
  /* height:100%; */
  /* border:3px solid #626262; */
  
  /* display:none; */
}
.event .FBE p{
  text-align:right;
  background-color: royalblue;
  max-width:750px;
  width:100%;
  padding:5px;
  max-height:50px;
  
  height:100%;
  padding-right:10px;
  color:#fff;
  
}
.event .FBE img{
  max-width:748px;
  width:100%;
  max-height:750px;
  height:100%;
  /* padding-left:12px; */
  /* margin-top:-7px; */
}
.leftmenu .box p img:first-of-type{/* 모바일로고 */
  display:none;
}

/* .iconmenu .menu01 ul li:hover{
  display:none;
} */
.section .menu .menu2 ul li:nth-of-type(2){/* 프렌드 아이콘 */
  display:none;
}
.section .menu .menu2 ul li:nth-of-type(4){/* 룩 아이콘 */
  display:none;
}
.section .menu .menu2 ul li:nth-of-type(6){/* 최근아이콘 */
  display:none;
}
.section .menu .menu2 ul li:nth-of-type(8){/* 북마크아이콘 */
  display:none;
}






















@media screen and (max-width:640px){
.leftmenu{
  max-width:100px;
  width:100%;
  max-height:80px;
  height:100%;
  background-color: #1c5cad;
}
/* .leftmenu:after{
  content:'';
  clear:both;
  display:block;
} */
.leftmenu img{/* 프로필사진, logo */
  max-width:65px;
  max-height:65px;
  float:right;
  margin:5px 25px 20px 20px;
  
}
.leftmenu p img{
  float:left;
  margin:50px;
  /* background-color: crimson; */
}
.leftmenu .box{
  font-size:14px;
  background-color: #1c5cad;
}
.leftmenu .box p:first-of-type{
  margin-bottom:5px;
  /* border:1px solid royalblue ; */
}
.leftmenu .box p img:first-of-type{/* 로고 */
  border:1px solid #1c5cad ;
  border-radius:0;
  margin-top:15px;
  
}

.leftmenu .box p:nth-of-type(2){
  display:none;
}
.leftmenu .box span{
  width:60px;
  height:80px;
  text-align:center;
  display:none;
  margin-left:15px;
}
/* background-color:#1c5cad 프로필,logo */
/* ------------------------------------ */
.leftmenu .iconmenu{
  width:100px;
  /* background: saddlebrown; */
  margin:0;
  padding:0;
}
.leftmenu .menu01 ul li i{/* 좌측메뉴 아이콘 */
  width:100px;
  margin:0;
}
.leftmenu .menu02 ul li i{/* 좌측메뉴 아이콘 */
  width:100px;
  margin:0;
}
.leftmenu .menu01 ul li{
  margin:0;
  height:100px;
}
.leftmenu .menu01 ul li a{
  margin:0;
}
.leftmenu .menu02 ul li{
  margin:0;

}
.leftmenu .menu01{
  margin:0;
  height:400px;
}
.leftmenu .menu02{
  margin:0;
  height:400px;
}
/* 좌측메뉴아이콘들 */
/* ----------------------------------- */
.section{
  width:640px;
  height:80px;
  background-color: #1c5cad;
  
}
.menu{
  width:640px;
}

.bar{
  width:60px;
  position:absolute;
  left:0;
  margin-left:15px;
  /* margin:0; */
  display:none;
}
.section .menu .menu2{
  text-align:center;
  display:inline-block;
}
.section .menu .menu2 ul li{/* 헤더메뉴 */
  width:70px;
  height:80px;
  /* background-color: coral; */
  display:none;
  
}
.section .menu .menu2 ul li i{/* 헤더메뉴 */
  display:block;
}
.section .menu .menu2 ul li:first-of-type{
  margin-left:-20px;
}
.section .menu .menu2 ul li:hover{/* 헤더메뉴 */
  background-color: #fff;
  color:royalblue;
  /* font-weight:bold; */
}
.section .menu3{
  margin-top:10px;
}
.section .menu3 ul li{
  
  max-width:500px;
  width:100%;
  height:100px;
  border:3px solid #fff;
}
.menu3 ul img{
  max-width:70px;
  width:100%;
  max-height:100px;
  height:100%;
}
.menu3 ul li a{
  color:#1c5cad;
  /* margin-left:40px; */
  /* margin-top:20px; */
  float:left;
  font-size:13px;
  margin-left:10px;
  margin-top:5px;
  margin-bottom:5px;
}
.menu3 ul li a p{
  font-size:16px;
}
.section .menu04{
  position:absolute;
  left:12.5%;
  top:7.1%;
}
.section .menu04 p img{
  width:540px;
  height:400px;
  margin-top:100px;
  margin-left:20px;
}
.section .menu7 .menu8{
  width:540px;
  margin-left:-300px;
}
.section .menu7 .menu8 ul li{
  line-height:25px;
}
.section .menu7 .menu8 span i{
  float:right;
}
.section .menu7 .menu8 p a{
  
  /* text-align:center; */
  /* display:block; */
  /* background-color: aquamarine; */
  float:left;
  width:60px;
  height:25px;
  
  
}
.section .menu7 .menu8 p a:first-of-type{
  margin-left:-15px;
}
.section .menu7 .menu8 p:nth-of-type(2){
  /* background-color: coral; */
  margin-left:5px;
  margin-right:0;
  width:72px;
}
.section .menu7 .menu8 p:nth-of-type(4){
  /* background-color: coral; */
  margin-left:-5px;
  margin-right:0;
  width:72px;
}
.section .menu7 .menu8 img{
  max-width:80px;
  width:100%;
  height:100%;
  max-height:80px; 
  border-radius:20px;
  margin:0;
  /* margin-top:20px; */
  margin:15px 10px 0 15px;
}

.section .menu7 .menu8 span i{
  margin:15px 10px 0 0px;
  /* background-color: chartreuse; */
  width:80px;
  height:80px;
  line-height:60px;
}
/* .section .menu7 .menu8 img:first-of-type{
 display:none; 
} */
.section .menu .menu2 ul li:nth-of-type(3){
  width:40px;
  text-align:center;
  
  /* margin:0; */
}
.section .menu .menu2 ul li:nth-of-type(2),.section .menu .menu2 ul li:nth-of-type(4),.section .menu .menu2 ul li:nth-of-type(6),.section .menu .menu2 ul li:nth-of-type(8){
  display:block;
  margin: 0px 30px 0px 30px;
  /* padding: 20px 40px 0px 30px; */
  font-size:30px;
}/* 모바일 헤더아이콘 */
.menu6{/* 슬릭 */
  display:none;
}
.bar{
  width:110px;/* ------------------------------ */
  height:5px;
  background-color: #fff;
  position:absolute;
  left:20.5%;
  top:70px;
  margin-left:50px;
  
}
.event .FBE{
  width:400px;
  margin-top:390px;
  margin-left:-500px;
}
.leftmenu .notice{
  left:100px;
  top:210px;
  z-index:5;
  
}
.leftmenu .notice nav{
  background-color: #fff;
}



























































}